[project]
	description = An automatic documentation generator for JavaScript.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hanigamal
[access "refs/for/refs/*"]
	read = group user/hanigamal
	push = group user/hanigamal
	label-Code-Review = -2..+2 group user/hanigamal
	label-Verified = -1..+1 group user/hanigamal
	rebase = group user/hanigamal
	removeReviewer = group user/hanigamal
	submit = group user/hanigamal
[access "refs/heads/*"]
	read = group user/hanigamal
	create = group user/hanigamal
	push = +force group user/hanigamal
	pushMerge = group user/hanigamal
[access "refs/tags/*"]
	push = +force group user/hanigamal
	pushTag = group user/hanigamal
	pushSignedTag = group user/hanigamal
